<!-- Modal -->
<div class="modal" id="patientAdditionAlert" tabindex="-1" role="dialog" aria-labelledby="patientAdditionAlertLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div id="patientAdditionAlertContent" role="alert">
        <!-- Alert content will be inserted here via JavaScript -->
      </div>
  </div>
</div>
