body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  max-width: 100%;
  margin: 0;
  padding: 20px;
}

.container {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

input,
select,
textarea {
  padding: 80px;
  font-size: 1rem;
  border: none;
  background: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-bottom: 1px solid #007AFF;
}

button {
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #007AFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0065D0;
}

.modal {
  overflow-y: hidden;
  padding-right: 0 !important;
}

.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: scroll;
}

.modal-dialog {
  max-width: 600px;
  width: 100%;
  margin: 30px auto;
}

.modal-content {
  border-radius: 10px;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  border-top: none;
  display: flex;
  justify-content: flex-end;
}

.submit-wrapper {
  display: flex;
  align-items: center;
}

.loading-spinner {
  margin-left: 10px;
}
